body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100vh;
}

.navbar {
  background-color: #1e1e2f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #f39c12;
}


.footer {
  background-color: #1e1e2f;
  color: white;
  text-align: center;
  padding: 24px 16px;
}

.footer-links {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #f39c12;
}

.main{
  background-color: rgb(57, 57, 57);
  height: 50vh;
  padding: 100px;
}

a{
  color: wheat;
}