body{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border-radius: 50%;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: grow 5s forwards;
    overflow: hidden;
}

@keyframes grow{
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    
    }
}