body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    background-color: green;
    color: white;
    height: 350px;
    padding: 10px;
    border: 2px solid black;
}

.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.btn{
    margin-right: 15px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: medium;
}

.image{
    position: relative;
    left: 10px;
    top: 10px;
}

.options{
    padding-top: 20px;
}

.account{
    padding-top: 20px   ;
}

.searchbar{
    width: 400px;
    height: 30px;
    position: relative;
    top: 10px;
    padding: 2px;
}

.btn2{
    margin-right: 15px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: medium;
}

.middle{
    background-color: rgb(250, 250, 250);
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 100px;
}