body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: rgb(30, 30, 30);
    padding: 100px;
}

button{
    padding: 10px;
    background-color: aqua;
    width: 100px;
    margin-right: 10px;
    border: 2px solid black;
}

.stopwatch{
    height: 300px;
    width: 600px;
    background-color: rgb(47, 46, 46);
    border: 5px dotted white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    font-size: 30px;
}