body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
}

.box{
    height: 200px;
    width: 1200px;
    background-color: black;
    padding: 30px;
    font-size: 25px;
}