body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-align: center;
}

.header{
    padding: 50px;
    font-size: 30px;
    background-color: rgb(81, 81, 81);
}


.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:  rgb(81, 81, 81);
    height: 400px;
    width: 400px;
    flex-direction: column;
}

.img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
    border: 5px solid black;
}

h2{
    color: black;
}

a{
    color: white;
    text-decoration: none;
    
}

.inp{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin-right: 10px;
}
.btn{
    padding: 10px;
    width: 100px;
    background-color: blue;
    color: white;
    border-radius: 10px;

}

.search{
    margin-top: 10px;
}